<h2 class="text-center mb-60 f-50">事前登録フォーム</h2>

 

<form class="formrun text-center" action="https://form.run/api/v1/r/lglp0ynt8icldmu96k0plw3r" method="post">
      <div>
        <input name="お名前"  type="hidden"value=<%= current_user.name %> data-formrun-required>
      </div>
      <div class="form-group">
        <label class="f-30">メールアドレス [必須]</label>
        <input name="メールアドレス" type="text" value= <%= current_user.email %> data-formrun-type="email" data-formrun-required>
      </div>
  <div class="form-group">
    <label class="f-30">お勤め先 [必須]</label>
    <input name="お勤め先" type="text" data-formrun-required></input>
  </div>

  <div class="form-group">
    <label class="f-30">職種 [必須]</label>
    <select name="職種" type="text" data-formrun-required size="1">
        <option value="デジタルマーケター">デジタルマーケター</option>
        <option value="エンジニア">エンジニア</option>
        <option value="デザイナー">デザイナー</option>
    </select>
  </div>
  
  <div>
    <input name="FBid" type="hidden" value= <%= current_user.uid %> data-formrun-required></input>
  </div>

  <button type="submit" class="btn btn-info mt-20 f-25 btn-lg" data-formrun-error-text="未入力の項目があります" data-formrun-submitting-text="送信中...">事前登録</button>
</form>