<head>
  <title>カイコク｜申込みフォーム【事前登録】</title>
</head>

<body class="form_body" style="background-color: #e9ebee;">

    
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-1 col-lg-2"></div>
        <div class="col-10 col-lg-8 form_body" style="background:white">
            <h2 class="text-center mb-40 f-40 mt-50">事前登録フォーム</h2>
            <form class="formrun text-center form-style-6" action="https://form.run/api/v1/r/lglp0ynt8icldmu96k0plw3r" method="post">
                  <div>
                    <input class="form-control form-control-lg" name="お名前"  type="hidden"value=<%= current_user.name %> data-formrun-required>
                  </div>
                  <div class="form-group mt-50">
                    <div class="row">
                      <div class="col-1"></div>
                      <div class="col-4 text-left">
                        <label class="f-24" style="line-height:10px">メールアドレス [必須]</label>
                      </div>
                      <div class="col-6">
                        <input class="form-control form-control-lg" name="メールアドレス" type="text" value= <%= current_user.email %> placeholder="kaikoku@gmail.com" data-formrun-type="email" data-formrun-required required>
                      </div> 
                      <div class="col-1"></div>
                    </div>
                  </div>
              <div class="form-group mt-30">
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-4 text-left">
                    <label class="f-24">お勤め先 [必須]</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control form-control-lg" name="お勤め先" type="text" placeholder="株式会社カイコク" data-formrun-required required></input>
                  </div>
                  <div class="col-1"></div>
                </div>
              </div>
              <div class="form-group mt-30">
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-4 text-left">
                        <label class="f-24">職種 [必須]</label>
                  </div>
                  <div class="col-6">
                        <select class="form-control form-control-lg" id="inputState" name="職種" data-formrun-required required>
                            <option value="デジタルマーケター">デジタルマーケター</option>
                            <option value="ディレクター">ディレクター</option>
                            <option value="エンジニア">エンジニア</option>
                            <option value="デザイナー">デザイナー</option>
                        </select>
                  </div>
                  <div class="col-1"></div>
                 </div>
                </div>
              
              <div>
                <input name="FBid" type="hidden" value= <%= current_user.uid %> data-formrun-required></input>
              </div>
              
              <div class="row">
                  <div class="col-1"></div>
                  <div class="col-10">
                    <div class="form-group privacy mx-auto mt-60 input-group">
                      <div class="input-group-prepend">
                      皆様から収集いたしました個人情報は、お問合せに関してのご連絡や当社 のサービス・商品のお知らせのためにのみ利用させて頂きます。 なお、弊社が求める個人情報のご提供がいただけない場合や入力内容に不備があった場合等におきましては、その後のご連絡、お知らせ等ができない可能性がありますのでご注意ください。 
                      ※個人情報の取り扱いに関する弊社の基本的な考え方は「プライバシーポリシー」をご参照下さい。
                      </div>
                    </div>
                  </div>
                  <div class="col-1"></div>
              </div>
            
              <div class="mt-20 form-check form-check-inline mx-auto">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" required>
                <label class="form-check-label f-24" for="inlineCheckbox1">上記の内容に同意する</label>
              </div>
              <br>
              <button type="submit" style="border:1px solid #1060D6!important" class="btn btn-info btn_form mt-40 f-25 btn-lg" data-formrun-submitting-text="送信中...">登録</button>
            </form>
            
            <p class="mt-20 text-center privacy_link"><a href="/pre/privacy"target=”_blank”>プライバシーポリシー</a></p>
         </div>
         <div class="col-1 col-lg-2"></div>  
      </div>
    </div>



</body>