<% content_for :pre do %>
    <title>カイコク｜もったいない時間をワクワク働くためのパラレルワーク支援サービス【事前登録】</title>
<% end %>
    
    
    
    <!--ヘッダー-->
    <header>
        <div class="container-fluid header-fixed pt-20">
          <div class="row">
            <div class="col-6 pl-50">
              <h1 class="f-28">カイコク</h1>
            </div>
            <div class="col-6 header-bk">
              <div class="container-fluid">
                <div class="row d-f" style="align-items: center;">
                  <div class="col-12 text-right mt--10 pr-50 fly"><%= link_to image_tag('/image/register_h.png', { :border => '0', :alt => '今すぐ登録'}), user_facebook_omniauth_authorize_path,{:id => "register_header"} %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </header>


	<div class="jumbotron jumbotron-fluid mb--24 pt-40">
        <div class="container">
            
        </div>
        <div class="container-fluid ">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 text-center">
                    <img src="/image/image_top.png" class="mx-auto h-87 mb-25">
                    <div class="radiousbox1">
                        <h2 class="display-4 text-center c-w mt-10 pb-30 f-31 b-top">他社プロジェクトに参加して<br>もったいない時間を<span class="f-42 f-b">+αの成長と収入</span>に</h2>
                        <p class="mt-25 mb-40 f-24 c-w">今だけ事前登録した人から優先的に報酬前払い！</p>
                        <p class="fly"><%= link_to image_tag('/image/register.png', { :border => '0', :alt => '今すぐ登録'}), user_facebook_omniauth_authorize_path,{:id => "register_top"} %></p>
                        <p class="f-14 c-w">*カイコクへの登録はFacebook上に表示されません。</p>
                        <p class="mt--10 f-14 c-w">*リリース時はデジタルマーケティング関連の案件が中心となります。</p>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>	
 


    <div class="container-fluid mb--100">
        <div class="row">
            <div class="col-12 balloon1 text-center h-120">
                    <p class="f-30" style="line-height:80px">100年時代に備えて、パラレルキャリアを経験しませんか？</p>
            </div>
        </div>
    </div>

    <div class="balloon2 mb-80" style="z-index:-10;">
        <div class="container-fluid" id="needs">
                <div class="row mb-50">
                    <div class="col-lg-1"></div>
                    <div class="col-6 col-lg-5 text-right">
                        <p class="d-inline f-24" id="white_contain2"><img src="/image/check.png">　今の職場でしかスキルアップできない</p>
                    </div>
                    <div class="col-6 col-lg-5 text-left">
                            <p class="d-inline f-24" id="white_contain2"><img src="/image/check.png">　今の職場のまま新たな挑戦がしたい</p>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-6 col-lg-5 text-right">
                            <p class="d-inline f-24" id="white_contain2"><img src="/image/check.png">　今の自分の市場価値を知りたい！　　</p>
                    </div>
                    <div class="col-6 col-lg-5 text-left">
                            <p class="d-inline f-24" id="white_contain2"><img src="/image/check.png">　できれば収入を増やしたい！　　　</p>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
        </div>
    </div>
    <p class="text-center mt--80 mb--80"><img src="/image/Triangle.png" style="width:120px"></p>
    
    <div class="container-fluid mt-120 mb-60">
        <div class="row text-center">
            <div class="col-1"></div>
            <div class="col-10">
                <h3 class="f-32 f-b">カイコクでもったいない時間を有効活用！</h3>
                <h3 class="mb-40 f-32 f-b">あなたの市場価値を高めるパラレルキャリア*をサポート</h3>
                <div class="radiousbox2" id="how_parallel_career">
                    <p class="f-18"><span class="f-24 f-b">*パラレルキャリアとは？</span>
                    <br>本業を持ちながら第二のキャリアを築くこと。自分のスキルアップや夢の実現、社会貢献などが含まれる。</p>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <div class="container-fluid mb--120" id="point1" style="z-index:10">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
                <img src="/image/pointbotton_1.png">
                <h3 class="mt-20 line-h-40 f-b f-32">あなたの市場価値を可視化できて働く前に報酬がもらえる！</h3>
                <br>
                <p class="f-14">あなたのスキルに合わせて、本来の市場価値を診断して、可視化できます！その市場価値に合わせて働く前に報酬がもらえます。</p>
            </div>
            <div class="col-5">
                <img src="/image/point_1.png" class="img-fluid"style="z-index:2;">
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <svg width="1440px" height="683px" viewBox="0 0 1440 683" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="z-index:0">
        <desc>Created with Sketch.</desc>
        <defs>
            <polygon id="path-1" points="0 150 1440 -2.27373675e-13 1440 523 0 683"></polygon>
        </defs>
        <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Desktop-HD" transform="translate(0.000000, -1652.000000)">
                <g id="point02" transform="translate(0.000000, 1652.000000)">
                    <g id="wall">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <use id="Mask" fill="#E9EFF9" xlink:href="#path-1"></use>
                    </g>
                </g>
            </g>
        </g>
    </svg>
        
    <div class="container-fluid mt--450 mb-100" id="point2">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5 mt--85">
                <img src="/image/point_2.png" class="img-fluid" style="width:540px">
            </div>
            <div class="col-5">
                <img src="/image/pointbotton_2.png">
                <h3 class="mt-20 line-h-40 f-b f-32">登録して待つだけであなたにおすすめの案件が届く！</h3>
                <br>
                <p class="f-14">カイコクに登録して待つだけで、自分の条件にぴったりなおすすめの案件が届きます。手間のかかる案件検索やコンペがないので、簡単にパラレルワークを始められます。</p>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <div class="container-fluid mb-70" id="point3">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <img src="/image/pointbotton_3.png">
                    <h3 class="mt-20 line-h-40 f-b f-32">サポートが充実！知識0でも簡単に始められる！</h3>
                    <br>
                    <p class="f-14">パラレルワークを始めるに当たって、税金や保険のことなど、勉強することがたくさんあります。調べてもわからないことが多いです。でもカイコクなら知識0の人でも安心して始められる、コンテンツやサポートをご用意しています。</p>
                </div>
                <div class="col-5">
                    <img src="/image/point_3.png" class="img-fluid">
                </div>
                <div class="col-1"></div>
            </div>
    </div>

    <div class="container-fluid pt-70 pb-70 bc-rb" id="dream">
        <h3 class="text-center mb-40 f-32 f-b">カイコクがめざす流れ</h3>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-10">
                                <div class="card mx-auto" style="width: 19rem;height:540px">
                                            <img class="card-img-top mt-30 pl-30 pr-30" src="/image/now.png">
                                            <div class="card-body h-230 pl-30 pr-30">
                                              <img src="/image/cardbotton_1.png" class="mb-20 mt-30">
                                              <h6 class="mb-10 f-18 f-b">一つの会社で毎日残業3時間</h6>
                                              <div class="row">
                                                  <div class="col-12">
                                                    <p class="f-14">会社にいる時間が収入に直結してしまっているため、新しいスキルを得たり、さらに伸ばすための時間が取れない。</p>
                                                  </div>
                                              </div>
                                            </div>
                                </div>
                            </div>
                            <div class="col-2 text-right" style="line-height:540px;"><img src="/image/arrow.png"></div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row mx-auto">
                            <div class="col-10">
                                <div class="card mx-auto" style="width: 19rem;height:540px">
                                            <img class="card-img-top mt-30 pl-30 pr-30" src="/image/next.png">
                                            <div class="card-body h-230 pl-30 pr-30">
                                              <img src="/image/cardbotton_2.png" class="mb-20 mt-30">
                                              <h6 class="mb-10 f-18 f-b">残業を削り、別のワークをする</h6>
                                              <div class="row">
                                                  <div class="col-12">
                                                    <p class="f-14">現在の仕事でだらだらした残業を別のワークにあてることにより、収入を増やすつつ、その経験を通じてスキルを伸ばす。</p>
                                                  </div>
                                              </div>
                                            </div>
                                </div>
                            </div>
                            <div class="col-2 text-right" style="line-height:540px;"><img src="/image/arrow.png"></div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row mx-auto">
                            <div class="col-12">
                                <div class="card mx-auto" style="width: 19rem;height:540px">
                                            <img class="card-img-top mt-30 pl-30 pr-30" src="/image/future.png">
                                            <div class="card-body h-230 pl-30 pr-30">
                                              <img src="/image/cardbotton_3.png" class="mb-20 mt-30">
                                              <h6 class="mb-10 f-18 f-b">パラレルワークにより本業を効率化</h6>
                                              <div class="row">
                                                  <div class="col-12">
                                                    <p class="f-14">フルタイム勤務から、週3勤務や時短勤務の雇用形態に変更。その空いた時間は自分で仕事をしたり、勉強の時間にあてることで、本業に対しても更なる成果を発揮する。</p>
                                                  </div>
                                              </div>
                                            </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    

    <footer class=" c-w footer bc-db">
            <div class="container-fluid">
                <div class="row mb-40" style="background:url(/image/image_footer_c.jpg);height:390px">
                    <div class="col-1"></div>
                    <div class="col-10 text-center mb-70">
                        <h2 class="mb-40 mt-60 f-32">今すぐ事前登録をしよう</h2>
                        <p class="fly"><%= link_to image_tag('/image/register.png', { :border => '0', :alt => '今すぐ登録'}), user_facebook_omniauth_authorize_path,{:id => "register_bottom"} %></p>
                        <p class="f-14 c-w">*カイコクへの登録はFacebook上に表示されません。</p>
                        <p class="f-14 c-w mt--10 mb-40">*リリース時はデジタルマーケティング関連の案件が中心となります。</p>
                        <p class="f-18">事前登録した人から優先的に給料を前払い！！<br>さらにカイコクの最新情報を受け取ることができます。</p>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row mp-50">
                    <div class="col-1"></div>
                    <div class="col-4 text-left pb-20 b-footer">
                        <p class="f-16 f-b"><a href="http://blam.co.jp/contact" target=”_blank” style="color:white"><span class="c-p">></span>　お問い合わせ</a></p>
                        <p class="f-14">サービスに関するお問い合わせは、上記からお願いいたします。</p>
                    </div>
                    <div class="col-6 text-left pb-20" style="border-bottom:1px solid white">
                        <p class="f-16 f-b"><a href="http://blam.co.jp/" target=”_blank” style="color:white"><span class="c-p">></span>　運営会社</a></p>
                        <p class="f-14">本サービスは、株式会社BLAMが運営しています。</p>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row mt-20 pb-20">
                    <div class="col-1"></div>
                    <div class="col-10 text-right">
                        <small class="f-12">Copyright BLAM, Inc All Rights Reserved</small>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>

    </footer>


    <style>
        body{
            min-width:1400px;
        }
    </style>
    <script type="text/javascript">
        if ((navigator.userAgent.indexOf('iPhone') > 0 && navigator.userAgent.indexOf('iPad') == -1) || navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
        	// スマホ用のページにリダイレクトする
        	location.href = '/pre/sp';
        }
    </script>