    <head>
        <title>カイコク｜もったいない時間をワクワク働くためのパラレルワーク支援サービス【事前登録】</title>
    </head>    
    
    <!--ヘッダー-->
    <header style="height:80px">
        <div class="container-fluid header-fixed pt-20">
          <div class="row">
            <div class="col-6 pl-50">
              <h1 class="f-40">カイコク</h1>
            </div>
            <div class="col-6 header-bk">
              <div class="container-fluid">
                <div class="row text-right d-f" style="margin-right:-45px">
                  <div class="col-12 text-right f-b mt--20"><%= link_to image_tag('/image/register_header_sp.png', { :border => '0', :alt => '事前登録'}), user_facebook_omniauth_authorize_path,{:id => "register_header"} %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </header>
    
    <div class="jumbotron jumbotron-fluid pt-120 jumb_sp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 text-center mx-auto">
                    <img src="/image/image_top.png" class="mx-auto mb-20" style="height:100px">
                    <div class="radiousbox1_sp mx-auto">
                        <h2 class="display-4 text-center c-w f-44 f-b pb-50 mb-30 b-top_sp">他社プロジェクトに参加して<br>もったいない時間を<span class="f-42 f-b">+αの成長と収入</span>に</h2>
                        <p class="c-w f-36 pt-20 f-b mb-30">今だけ事前登録した人から<br>優先的に給料前払い！</p>
                        <p class="fly mx-auto"><%= link_to image_tag('/image/register_sp.png', { :border => '0', :alt => '事前登録', :id => "register_top"}), user_facebook_omniauth_authorize_path,{:id => "register_top"} %></p>
                        <p class="f-18 c-w">*カイコクへの登録はFacebook上に表示されません。</p>
                        <p class="f-18 c-w mt--10 mb-10">*リリース時はデジタルマーケティング関連の案件が中心となります。</p>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>	
    
    
    <div class="container-fluid mb--120 mt--25">
        <div class="row">
            <div class="col-12 balloon1 text-center" style="padding:20px 10% 20px 10%">
                    <p class="f-40 f-b">100年時代に備えて、<br>パラレルキャリアを経験しませんか？</p>
            </div>
        </div>
    </div>

    <div class="balloon2 mb--120" style="z-index:-10;">
        <div class="container-fluid">
            <div class="col-12 white_contain">
                <p class="d-inline f-40 text-cetner white_contain2_sp"><img src="/image/check.png">　今の職場でしかスキルアップできない　　</p>
            </div>
            <div class="col-12 white_contain mt-50">
                <p class="d-inline f-40 text-cetner white_contain2_sp"><img src="/image/check.png">　今の職場のまま新たな挑戦がしたい　　　</p>
            </div>
            <div class="col-12 white_contain mt-50">
                <p class="d-inline f-40 text-cetner white_contain2_sp"><img src="/image/check.png">　今の自分の市場価値を知りたい！　　　　</p>
            </div>
            <div class="col-12 white_contain mt-50">
                <p class="d-inline f-40 text-cetner white_contain2_sp"><img src="/image/check.png">　できれば収入を増やしたい！　　　　　　</p>
            </div>　
        </div>
    </div>
    <p class="text-center mt-115"><img src="/image/Triangle.png" style="width:120px"></p>

    <div class="container-fluid mb-80 mt-60">
        <div class="row text-center">
            <div class="col-2"></div>
            <div class="col-8">
                <h3 class="f-40 f-b">カイコクで<br>もったいない時間を有効活用！</h3>
                <h3 class="mb-30 f-40 f-b">あなたの市場価値を高める<br>パラレルキャリア*をサポート</h3>
                <div class="radiousbox2" id="how_parallel_career">
                    <p class="f-36 f-b mb-30">*パラレルキャリアとは？</p>
                    <p class="f-35">本業を持ちながら第二のキャリアを築くこと。自分のスキルアップや夢の実現、社会貢献などが含まれる。</p>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    

    <div class="container-fluid mb-50">
        <div class="row mx-auto">
            <div class="col-12">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <img src="/image/point_1.png" class="img-fluid shadow text-center">
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
            <div class="col-12 mt-60">
                <img src="/image/pointbotton_1.png">
                <h3 class="mt-20 line-h-60 f-40 f-b">あなたの市場価値を<br>可視化できて<br>働く前に報酬がもらえる！</h3>
                <br>
                <p class=" f-35">あなたのスキルに合わせて、本来の市場価値を診断して可視化できます！その市場価値に合わせて働く前に報酬がもらえます。</p>
            </div>
        </div>
    </div>

    <div class="container-fluid mb-120 bc-rb pt-100 pb-100">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <img src="/image/point_2.png" class="img-fluid mt--80">
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
            <div class="col-12 mt-60">
                <img src="/image/pointbotton_2.png">
                <h3 class="mt-20 line-h-60 f-40 f-b">登録して待つだけであなたに<br>おすすめの案件が届く！</h3>
                <br>
                <p class=" f-35">カイコクに登録して待つだけで、自分の条件にぴったりなおすすめの案件が届きます。手間のかかる案件検索やコンペがないので、簡単にパラレルワークを始められます。</p>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <div class="container-fluid mb-50">
        <div class="row mx-auto">
            <div class="col-12">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 mt-80">
                        <img src="/image/point_3.png" class="img-fluid">
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
            <div class="col-12 mt-60">
                <img src="/image/pointbotton_3.png">
                <h3 class="mt-20 line-h-60 f-40 f-b">サポートが充実！<br>知識0でも簡単に始められる！</h3>
                <br>
                <p class=" f-35">パラレルワークを始めるに当たって、税金や保険のことなど、勉強することがたくさんあります。調べてもわからないことが多いです。でもカイコクなら知識0の人でも安心して始められる、コンテンツやサポートをご用意しています。</p>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-100 pb-100 bc-rb ">
        <h3 class="text-center mb-60 f-50 f-b">カイコクがめざす流れ</h3>
        <div class="row">
            <div class="col-12">
                        <div class="card mx-auto pt-10" style="width: 60rem; height:1350px">
                                    <img class="card-img-top mt-30 pl-30 pr-30" src="/image/now.png">
                                    <div class="card-body h-250 pl-30 pr-30">
                                      <img src="/image/cardbotton_1_sp.png" class="mb-20 mt-80 mb-30">
                                      <h6 class="f-40 mb-50" style="font-weight:bold">一つの会社で毎日残業3時間</h6>
                                      <div class="row">
                                          <div class="col-12">
                                            <p class="f-35">会社にいる時間が収入に直結してしまっているため、新しいスキルを得たり、さらに伸ばすための時間が取れない。</p>
                                          </div>
                                      </div>
                                    </div>
                        </div>
            </div>
            <div class="col-12 mt-60">
                        <div class="card mx-auto" style="width: 60rem; height:1350px">
                                    <img class="card-img-top mt-30 pl-30 pr-30" src="/image/next.png">
                                    <div class="card-body h-250 pl-30 pr-30">
                                      <img src="/image/cardbotton_2_sp.png" class="mb-20 mt-80 mb-30">
                                      <h6 class="f-40 mb-50" style="font-weight:bold">残業を削り、別のワークをする</h6>
                                      <div class="row">
                                          <div class="col-12">
                                            <p class="f-35">現在の仕事でだらだらした残業を別のワークにあてることにより、収入を増やすつつ、その経験を通じてスキルを伸ばす。</p>
                                          </div>
                                      </div>
                                    </div>
                        </div>
            </div>
            <div class="col-12 mt-60">
                        <div class="card mx-auto" style="width: 60rem; height:1400px">
                                    <img class="card-img-top mt-30 pl-30 pr-30" src="/image/future.png">
                                    <div class="card-body h-250 pl-30 pr-30">
                                      <img src="/image/cardbotton_3_sp.png" class="mb-20 mt-80 mb-30">
                                      <h6 class="f-40 mb-50" style="font-weight:bold">パラレルワークにより本業を効率化</h6>
                                      <div class="row">
                                          <div class="col-12">
                                            <p class="f-35">フルタイム勤務から、週3勤務や時短勤務の雇用形態に変更。その空いた時間は自分で仕事をしたり、勉強の時間にあてることで、本業に対しても更なる成果を発揮する。</p>
                                          </div>
                                      </div>
                                    </div>
                        </div>
            </div>
            </div>
        </div>
    </div>
    
    <footer class=" c-w footer bc-db">
            <div class="container-fluid">
                <div class="row" style="background:url(/image/image_footer_sp.jpg)">
                    <div class="col-12 text-center mb-50">
                        <h2 class="f-b mt-50 mb-30 f-40">今すぐ事前登録をしよう！！</h2>
                        <p class="fly"><%= link_to image_tag('/image/register_sp.png', { :border => '0', :alt => '事前登録'}), user_facebook_omniauth_authorize_path,{:id => "register_bottom"} %></p>
                        <p class="f-18 c-w mt-20">*カイコクへの登録はFacebook上に表示されません。</p>
                        <p class="f-18 c-w mt--10 mb-40">*リリース時はデジタルマーケティング関連の案件が中心となります。</p>
                        <p class=" f-35">事前登録した人から優先的に報酬を前払い！！</p>
                        <p class=" f-35">さらにカイコクの最新情報を受け取ることができます。</p>
                    </div>
                </div>
                <div class="row mt-30">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <p class="f-32"><a href="http://blam.co.jp/contact" target=”_blank” style="color:white"><span class="c-p">></span>お問い合わせ</a></p>
                            <p class="f-25">サービスに関するお問い合わせは、上記からお願いいたします。</p>                            
                        </div>
                        <div class="col-2"></div>
                        <div class="col-2"></div>
                        <div class="col-8 b-footer">
                            <p class="f-32"><a href="http://blam.co.jp/" target=”_blank” style="color:white"><span class="c-p">></span>運営会社</a></p>
                            <p class="f-25">本サービスは、株式会社BLAMが運営しています。</p>                            
                        </div>
                        <div class="col-2"></div>
                </div>
                <div class="row mt-20 pb-20">
                    <div class="col-1"></div>
                    <div class="col-10 text-center">
                        <small>Copyright BLAM, Inc All Rights Reserved</small>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
    </footer>
        
<style>
.jumbotron {
   height:1000px!important;
}
body{
    min-width:375px!important;
}
.jumbotron {background:url(/image/eyecatch_sp.jpg)!important; 
</style>    
    