<h2 class="text-center f-b mb-50">ご登録ありがとうございました。</h2>
<h4 class="text-center">今後はご登録頂いたメールアドレス宛にカイコクの情報をお届けいたします。<br>なお、プライバシーポリシーのもとに個人情報は厳重に管理いたします。<br>引き続きカイコクをよろしくお願い致します。</h4>
<button class="btn btn-info btn_form mt-40 f-25 btn-lg"><a href="/pre" style="colow:white">登録</a></button>