  <% content_for :thanks do %>
    <title>カイコク｜申込み完了【事前登録】</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
    <script type="text/javascript"> 
  window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    email: "<%= current_user.email %>",
    facebookId: "<%= current_user.uid %>",
    event: "setUserData"
  });
</script>
  <% end %> 



<h2 class="text-center f-b mb-50">ご登録ありがとうございました。</h2>
<h4 class="text-center">今後はご登録頂いたメールアドレス宛にカイコクの情報をお届けいたします。<br>なお、プライバシーポリシーのもとに個人情報は厳重に管理いたします。<br>引き続きカイコクをよろしくお願い致します。</h4>
<p class="text-center mt-40"><a href="/pre">>>TOPへ戻る</a></p>

