    <script type="text/javascript">
        if ((navigator.userAgent.indexOf('iPhone') > 0 && navigator.userAgent.indexOf('iPad') == -1) || navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
        	// スマホ用のページにリダイレクトする
        	location.href = '/sp';
        }
    </script>
    

    <!--ヘッダー-->
    <header>
        <div class="container-fluid header-fixed pt-20">
          <div class="row">
            <div class="col-6 pl-50">
              <h1>カイコク</h1>
            </div>
            <div class="col-6 header-bk">
              <div class="container-fluid">
                <div class="row" style="display: flex; align-items: center;">
                  <div class="col-12 text-right pr-50" style="font-weight:bold;"><button type="button" class="btn btn-danger bc-y fly" id="btn-header"><%= link_to "今すぐ登録", user_facebook_omniauth_authorize_path %></button></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </header>


	<div class="jumbotron jumbotron-fluid pt-70 mb--24">
        <div class="container mb-40">
            
        </div>
        <div class="container-fluid mx-auto">
            <div class="row mx-auto">
                <div class="col-2"></div>
                <div class="col-8 text-center mx-auto">
                    <div class="radiousbox1">
                        <h2 class="display-4 text-center c-w f-30 pb-30" style="border-bottom:3px solid white">もったいない時間を<br>パラレルキャリアで有効活用できるサービス</h2>
                        <p class="c-w f-26 pt-20">今だけ事前登録した人から優先的に給料前払い！</p>
                        <button type="button" class="btn btn-danger bc-y btn_tron fly"><%= link_to "今すぐ登録", user_facebook_omniauth_authorize_path %></button>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>	
 


    <div class="container-fluid mb--100">
        <div class="row">
            <div class="col-12 balloon1 text-center" style="height:120px">
                    <p class="f-30" style="line-height:80px">将来の選択肢を増やすために、今の働き方だけで本当にいいですか？</p>
            </div>
        </div>
    </div>

    <div class="balloon2 mb-80" style="z-index:-10;">
        <div class="container-fluid">
                <div class="row mb-50">
                    <div class="col-lg-2"></div>
                    <div class="col-6 col-lg-4 text-center">
                        <p class="d-inline f-20" id="white_contain2"><i class="fas fa-check-circle c-b"></i>　今の職場でしかスキルアップできない</p>
                    </div>
                    <div class="col-6 col-lg-4 text-center">
                            <p class="d-inline f-20" id="white_contain2"><i class="fas fa-check-circle c-b"></i>　今の職場のまま新たな挑戦がしたい</p>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-6 col-lg-4 text-center">
                            <p class="d-inline f-20" id="white_contain2"><i class="fas fa-check-circle c-b"></i>　今の自分の市場価値を知りたい！　　</p>
                    </div>
                    <div class="col-6 col-lg-4 text-center">
                            <p class="d-inline f-20" id="white_contain2"><i class="fas fa-check-circle c-b"></i>　できれば収入を増やしたい！　　　</p>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
        </div>
    </div>

    
    <div class="container-fluid mb-60">
        <div class="row text-center">
            <div class="col-2"></div>
            <div class="col-8">
                <h3>カイコクでもったいない時間を有効活用！</h3>
                <h3 class="mb-40">あなたの市場価値を高めるパラレルキャリア*をサポート</h3>
                <div class="radiousbox2">
                    <p class="f-20"><span class="f-30">*パラレルキャリアとは？</span>
                    <br>本業を持ちながら第二のキャリアを築くこと。自分のスキルアップや夢の実現、社会貢献などが含まれる。</p>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <div class="container-fluid mb--120" style="z-index:10">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <button type="button" class="btn btn-primary" id="btn-point">Point1</button>
                <h3 class="mt-20 line-h-40 f-b">あなたの市場価値を可視化できて、働く前に報酬がもらえる！</h3>
                <br>
                <p>あなたのスキルに合わせて、本来の市場価値を診断して、可視化できます！その市場価値に合わせて働く前に報酬がもらえます。</p>
            </div>
            <div class="col-4">
                <img src="/image/point_1.png" class="img-fluid shadow"style="z-index:2;">
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <svg width="1440px" height="683px" viewBox="0 0 1440 683" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="z-index:0">
        <desc>Created with Sketch.</desc>
        <defs>
            <polygon id="path-1" points="0 150 1440 -2.27373675e-13 1440 523 0 683"></polygon>
        </defs>
        <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Desktop-HD" transform="translate(0.000000, -1652.000000)">
                <g id="point02" transform="translate(0.000000, 1652.000000)">
                    <g id="wall">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <use id="Mask" fill="#EBF1F5" xlink:href="#path-1"></use>
                    </g>
                </g>
            </g>
        </g>
    </svg>
        
    <div class="container-fluid mb-100 mt--470" >
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <img src="/image/point_2.png" class="img-fluid">
            </div>
            <div class="col-4 pt-60">
                <button type="button" class="btn btn-primary mb-20" id="btn-point">Point2</button>
                <h3 class="line-h-40 f-b">登録して待つだけであなたにおすすめの案件が届く！</h3>
                <br>
                <p>カイコクに登録して待つだけで、自分の条件にぴったりなおすすめの案件が届きます。手間のかかる案件検索やコンペがないので、簡単にパラレルワークを始められます。</p>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <div class="container-fluid mb-70">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                    <button type="button" class="btn btn-primary" id="btn-point">Point3</button>
                    <h3 class="mt-20 line-h-40 f-b">サポートが充実！知識0でも簡単に始められる！</h3>
                    <br>
                    <p>パラレルワークを始めるに当たって、税金や保険のことなど、勉強することがたくさんあります。調べてもわからないことが多いです。でもカイコクなら知識0の人でも安心して始められる、コンテンツやサポートをご用意しています。</p>
                </div>
                <div class="col-4">
                    <img src="/image/point_3.png" class="img-fluid">
                </div>
                <div class="col-2"></div>
            </div>
    </div>

    <div class="container-fluid pt-70 pb-70 bc-rb">
        <h3 class="text-center mb-40">カイコクがめざす流れ</h3>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-10">
                                <div class="card" style="width: 17rem;">
                                            <img class="card-img-top" src="image/now.png" style="height:220px">
                                            <div class="card-body h-250">
                                              <button type="button" class="btn btn-primary mb-20 pr-10 pl-10">現在</button>
                                              <h6 class="mb-10" style="font-weight:bold">一つの会社で毎日残業3時間</h6>
                                              <div class="row">
                                                  <div class="col-12">
                                                    <p class="f-12">会社にいる時間が収入に直結してしまっているため、新しいスキルを得たり、さらに伸ばすための時間が取れない。</p>
                                                  </div>
                                              </div>
                                            </div>
                                </div>
                            </div>
                            <div class="col-2 text-right" style="line-height:450px; padding-left:35px"><i class="fas fa-caret-right fa-3x c-b"></i></div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-10">
                                <div class="card" style="width: 17rem;">
                                            <img class="card-img-top" src="image/next.png" style="height:220px">
                                            <div class="card-body h-250">
                                              <button type="button" class="btn btn-primary mb-20 pr-10 pl-10">現在</button>
                                              <h6 class="mb-10" style="font-weight:bold">残業を削り、別のワークをする</h6>
                                              <div class="row">
                                                  <div class="col-12">
                                                    <p class="f-12">会社にいる時間が収入に直結してしまっているため、新しいスキルを得たり、さらに伸ばすための時間が取れない。</p>
                                                  </div>
                                              </div>
                                            </div>
                                </div>
                            </div>
                            <div class="col-2 text-right" style="line-height:450px; padding-left:35px"><i class="fas fa-caret-right fa-3x text-right c-b"></i></div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-10">
                                <div class="card" style="width: 17rem;">
                                            <img class="card-img-top" src="image/future.png" style="height:220px">
                                            <div class="card-body h-250">
                                              <button type="button" class="btn btn-primary mb-20 pr-10 pl-10">現在</button>
                                              <h6 class="mb-10" style="font-weight:bold">複数の仕事をすることにより本業を効率化させ成果を出す</h6>
                                              <div class="row">
                                                  <div class="col-12">
                                                    <p class="f-12">会社にいる時間が収入に直結してしまっているため、新しいスキルを得たり、さらに伸ばすための時間が取れない。</p>
                                                  </div>
                                              </div>
                                            </div>
                                </div>
                            </div>
                            <div class="col-2 text-right"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    

        <footer class=" c-w footer bc-db">
            <div class="container-fluid">
                <div class="row mb-40" style="background:linear-gradient(rgba(128, 128, 128, 0.6) 80%, rgba(128, 128, 128, 0.6) 100%, rgba(128, 128, 128, 1)),url(/image/footer_image.jpg)">
                    <div class="col-2"></div>
                    <div class="col-8 text-center mb-70">
                        <h2 class="mb-40 mt-60">今すぐ事前登録をしよう</h2>
                        <button type="button" class="btn btn-danger bc-y mb-30 btn_tron fly"><%= link_to "今すぐ登録", user_facebook_omniauth_authorize_path %></button>
                        <p>事前登録した人から優先的に給料を前払い！！<br>さらにカイコクの最新情報を受け取ることができます。</p>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row mp-50">
                    <div class="col-2"></div>
                    <div class="col-4 text-left pb-20" style="border-bottom:1px solid white">
                        <p><span class="c-o">></span>　お問い合わせ</p>
                        <p>サービスに関するお問い合わせは、上記からお願いいたします。</p>
                    </div>
                    <div class="col-4 text-left pb-20" style="border-bottom:1px solid white">
                        <p><span class="c-o">></span>　運営会社</p>
                        <p>本サービスは、株式会社BLAMが運営しています。</p>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row mt-20 pb-20">
                    <div class="col-2"></div>
                    <div class="col-8 text-right">
                        <small>Copyright BLAM, Inc All Rights Reserved</small>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>

        </footer>
    