body{
    font-family: "Lucida Grande", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif!important;
    padding-top: 80px;
}
header{
    width:100%;
    height:80px;
    position:fixed;
    background:white;
    z-index:100;
    top:0;
    background: rgba(255,255,255,0.99);
}
.jumbotron {background:url(/image/img_eyecatch.jpg); background-size: cover; height:700px; margin-bottom:0!important;}
.jumb_sp{height:1000px!important;}
    /* 吹き出し */
.balloon1 {
        position: relative;
        min-width: 120px;
        max-width: 100%;
        margin: 1.5em 0;
       padding: 20px 10px;
       color: white;
       font-size: 16px;
       background: #3267B4;
}
.balloon1:before{
       content: "";
       position: absolute;
       top: 100%;
       left: 50%;
      margin-left: -60px;
      margin-top:-3px;
       border: 60px solid transparent;
       border-top: 35px solid #3267B4;
}
.balloon1 p {
       margin: 0;
       padding: 0;
}
/* 吹き出し */
.balloon2 {
        position: relative;
        min-width: 120px;
        max-width: 100%;
        margin: 1.5em 0;
        padding: 140px 5px 60px 0;
        font-size: 16px;
        background: #E9EFF9;
        z-index:-100;
}
.balloon2:before{
       content: "";
       position: absolute;
       top: 100%;
       left: 50%;
}
.balloon2 p {
       margin: 0;
       padding: 0;
 }
.circle{
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: white;
    text-align:center;
}
.circle span {
    position: absolute;
    display: inline-block;
    width :80px;
    left: 35%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align:center;
    color:black;
}
.box2 {
    margin: 2em 0;
    padding: 2.5em 1em;
    font-weight: bold;
    color: black;/*文字色*/
    background: #FFF;
    border: solid 3px orange;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.box2 p {
    margin: 0; 
    padding: 0;
}

.balloon3 {
    position: relative;
  display:inline-block;
     min-width: 120px;
    max-width: 100%;
    margin: 1.5em 0 3.5em 0;
   padding: 5px 25px;
    color: white;
   font-size: 16px;
   background: blue;
}

.balloon3:before{
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
    margin-left: -15px;
   border: 15px solid transparent;
   border-top: 15px solid blue;
}

.balloon3 p {
   margin: 0;
   padding: 0;
}

.contents {
    position: relative;
    overflow: hidden;
    margin: 10% 0;
    padding: 80px 0;
  }
  
.contents:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 80%;
    margin: 3% -10% 0;
    background: #011931;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    z-index: -1;
}
.contents_inner {
    box-sizing: boder-box;
    width: 100%;
    max-width: 640px;
    height: 100%;
    margin: 0 auto;
    padding: 100px 10px 120px;
    color: #fff;
    text-align: center;
}
.shadow {
	margin-top: 5px; /* 画像の上の余白*/
	display: inline-block; 
	box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8)!important; /*横方向　下方向　ぼかし　広がり　色 */
}
.btn_form{
     background:#1060D6!important; border:1px solid #1060D6; width:309px!important;
}
#white_contain{
    padding:30px 20px !important; 
   -webkit-border-radius: 10px;-moz-border-radius: 10px;
   background:white;
}
#white_contain2{
  padding:20px!important; 
  -webkit-border-radius: 10px;-moz-border-radius: 10px;
  background:white;
}
.white_contain2_sp{
    width:100%;
    height:80px;
   -webkit-border-radius: 15px;-moz-border-radius: 15px;
   background:white;
   padding-top:14px!important;
}
.radiousbox1{
    width: 720px;
    margin: 0 auto;
    padding: 40px;
    border: 4px solid white;
}
.radiousbox1_sp{
    width: 720px;
    margin: 0 auto;
    padding:50px;
    border:8px solid white;
}
.radiousbox2{
    padding:30px 15px!important;
    -webkit-border-radius: 30px;-moz-border-radius: 30px; 
    border:5px solid #F8E31C!important;
}

/* 画面外にいる状態 */
.fadein {
    opacity : 0.1;
    transform : translate(0, 50px);
    transition : all 500ms;
    }
 
/* 画面内に入った状態 */
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
    }

.shadow {
	margin-top: 5px; /* 画像の上の余白*/
	display: inline-block; 
	box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8)!important; /*横方向　下方向　ぼかし　広がり　色 */
}
.card{
  -webkit-border-radius: 30px!important;-moz-border-radius: 30px!important;
}

/*ボタンのふわっと動作*/
.fly {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.fly:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.privacy {
  height: 65px;
  padding:20px 0 20px 0;
  border:1px solid;
  overflow: scroll;
}
.privacy_link a{
    color:gray!important;
}
.privacy_link a:hover{
    text-decoration:none;
    color:black;
}

/*汎用CSS*/
.w-120{
    width: 120px!important
}
.h-100{
    height:100px!important;
}
.h-390{
    height: 390px!important
}
.h-540{
    height: 540px!important
}
.h-1040{
    height: 1040px!important
}
.h-1160{
    height: 1160px!important
}
.w-card{
    width:20rem!important;
}
.mb-5{
    margin-bottom:5px!important;
}
.mb-10{
    margin-bottom:10px!important;
}
.mt--10{
    margin-top:-10px!important;
}
.mt--15{
    margin-top:-15px!important;
}
.mt-20{
    margin-top:20px!important;
}
.mb-20{
    margin-bottom:20px!important;
}
.mt--20{
    margin-top:-20px!important;
}
.mb--24{
    margin-bottom:-24px!important;
}
.mt-20{
    margin-top:20px!important;
}
.mt-25{
    margin-top:25px!important;
}
.mb-25{
    margin-bottom:25px!important;
}
.mt--25{
    margin-top:-25px!important;
}
.mt-30{
    margin-top:30px!important;
}
.mb-30{
    margin-bottom:30px!important;
}
.mt-35{
    margin-top:35px!important;
}
.mt-40{
    margin-top:40px!important;
}
.mb-40{
    margin-bottom:40px!important;
}
.mt--40{
    margin-top:-40px!important;
}
.mr--45{
    margin-right: -45px!important
}
.mt-50{
    margin-top:50px!important;
}
.mb-50{
    margin-bottom:50px!important;
}
.mt-60{
    margin-top:60px!important;
}
.mb-60{
    margin-bottom:60px!important;
}
.mb-70{
    margin-bottom:70px!important;
}
.mt-75{
    margin-top:75px!important;
}
.mt-80{
    margin-top:80px!important;
}
.mb-80{
    margin-bottom:80px!important;
}
.mt--80{
    margin-top:-80px!important;
}
.mb--80{
    margin-bottom:-80px!important;
}
.mt--85{
    margin-top:-85px!important;
}
.mb-90{
    margin-bottom:90px!important;
}
.mt-100{
    margin-top:100px!important;
}
.mb-100{
    margin-bottom:100px!important;
}
.mb--100{
    margin-bottom:-100px!important;
}
.mb-110{
    margin-bottom:110px!important;
}
.mt-115{
    margin-top:115px!important;
}
.mt-120{
    margin-top:120px!important;
}
.mb--120{
    margin-bottom:-120px!important;
}
.mb-130{
    margin-bottom:130px!important;
}
.mb-140{
    margin-bottom:140px!important;
}
.mt-150{
    margin-top:150px!important;
}
.mb-150{
    margin-bottom:150px!important;
}
.mt-200{
    margin-top:200px!important;
}
.mb-200{
    margin-bottom:200px!important;
}
.mt--450{
    margin-top:-450px;
}

.pr-10{
    padding-right:20px!important;
}
.pl-10{
    padding-left:20px!important;
}
.pt-20{
    padding-top:20px!important;
}
.pb-20{
    padding-bottom:20px!important;
}
.pb-25{
    padding-bottom:25px!important;
}
.pb-30{
    padding-bottom:30px!important;
}
.pl-30{
    padding-left:30px!important;
}
.pr-30{
    padding-right:30px!important;
}
.pt-40{
    padding-top:40px!important;
}
.pt-50{
    padding-top:50px!important;
}
.pb-50{
    padding-bottom:50px!important;
}
.pr-50{
    padding-right:50px!important;
}
.pl-50{
    padding-left:50px!important;
}
.pt-60{
    padding-top:60px!important;
}
.pt-70{
    padding-top:70px!important;
}
.pb-70{
    padding-bottom:70px!important;
}
.pb-80{
    padding-bottom:80px!important;
}
.pt-100{
    padding-top:100px!important;
}
.pb-100{
    padding-bottom:100px!important;
}
.pt-120{
    padding-top:120px!important;
}
.pt-150{
    padding-top:150px!important;
}
.pt-180{
    padding-top:180px!important;
}
.pt-250{
    padding-top:250px!important;
}
.f-12{
    font-size:12px!important;
}
.f-14{
    font-size:14px!important;
}
.f-16{
    font-size:16px!important;
}
.f-18{
    font-size:18px!important;
}
.f-20{
    font-size:20px!important;
}
.f-22{
    font-size:22px!important;
}
.f-24{
    font-size:24px!important;
}
.f-25{
    font-size:25px!important;
}
.f-26{
    font-size:26px!important;
}
.f-28{
    font-size:28px!important;
}
.f-30{
    font-size:30px!important;
}
.f-31{
    font-size:31px!important;
}
.f-32{
    font-size:32px!important;
}
.f-35{
    font-size:35px!important;
}
.f-36{
    font-size:36px!important;
}
.f-38{
    font-size:38px!important;
}
.f-40{
    font-size:40px!important;
}
.f-42{
    font-size:42px!important;
}
.f-44{
    font-size:44px!important;
}
.f-46{
    font-size:46px!important;
}
.f-50{
    font-size:50px!important;
}
.f-b{
     font-weight:bold!important;
}
.c-w{
    color:white!important;
}
.bc-w{
    background-color:white!important;
}

.c-b{
    color:#1060D6!important;
}
.bc-b{
    background-color:#1060D6!important;
}
.c-o{
    color:#E88C57!important;
}
.bc-o{
    background-color:#E88C57!important;
}
.c-y{
    color:#F8E71C!important;
}
.bc-y{
    background-color:#F8E71C!important;
}
.c-rb{
    color:#E9EFF9!important;
}
.bc-rb{
    background-color:#E9EFF9!important;
}
.c-db{
    color:#18355F!important;
}
.bc-db{
    background-color:#18355F!important;
}
.c-p{
    color:#FF6E9D;
}

.pr-10{
    padding-right:20px!important;
}
.pl-10{
    padding-left:20px!important;
}
.pt-20{
    padding-top:20px!important;
}
.pb-20{
    padding-bottom:20px!important;
}
.pl-30{
    padding-left:30px!important;
}
.pr-30{
    padding-right:30px!important;
}
.pt-50{
    padding-top:50px!important;
}
.pb-50{
    padding-bottom:50px!important;
}
.pr-50{
    padding-right:50px!important;
}
.pl-50{
    padding-left:50px!important;
}
.pt-80{
    padding-top:80px!important;
}
.pt-100{
    padding-top:100px!important;
}
.pb-100{
    padding-bottom:100px!important;
}
.pt-150{
    padding-top:150px!important;
}
.pb-150{
    padding-bottom:150px!important;
}
.line-h-40{
    line-height:40px!important;
}
.line-h-50{
    line-height:50px!important;
}
.line-h-60{
    line-height:60px!important;
}
.line-h-80{
    line-height:80px!important;
}
.h-87{
    height:87px!important;
}
.h-120{
    height:120px!important;
}
.h-220{
    height:220px!important;
}
.h-230{
    height:230px!important;
}
.d-f{
    display:flex!important;
}
.b-top{
    border-bottom:4px solid white!important;
}
.b-top_sp{
    border-bottom:8px solid white!important;
}
.b-footer{
    border-bottom:1px solid white!important;
}
.z-2{
    z-index: 2;
}
.z--10{
    z-index: -10;
}
.z-10{
    z-index: 10;
}




.form-style-6{
    background:white!important;
}
.form_body{
    backgroud:#F7F7F7;
}
#menu div {
  position: relative;
}

.arrow_box {
  position: absolute;
  display: none;
  margin:0 auto;
  padding: 16px;
 text−align:canter;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 8px;
  background: #333;
  color: #fff;
}

.arrow_box:after {
  margin:0 auto;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 80%;
  margin-left: -10px;
  text−align:canter;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}
.form-body{
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    background:white;
}
.hidden{
    visibility: hidden;
}
.card_arrow{
    margin-top: -300px;
    margin-right: -25px;
}
.fotter_w_line{
    border-bottom:1px solid white;
}