body{
    font-family: "Lucida Grande", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif!important;
    padding-top: 70px;
}
header{
    width:100%;
    height:80px;
    position:fixed;
    background:white;
    z-index:100;
    top:0;
    background: rgba(255,255,255,0.99);
}

.jumbotron {background:linear-gradient(rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.6) 100%, rgba(128, 128, 128, 1)),url(/image/eyecatch2.jpg); background-size: cover; height:530px; margin-bottom:0!important;}

    /* 吹き出し */
.balloon1 {
        position: relative;
      
        margin: 1.5em 0;
       padding: 20px 10px;
       min-width: 120px;
        max-width: 100%;
        color: white;
       font-size: 16px;
       background: #3267B4;
}
.balloon1:before{
       content: "";
       position: absolute;
       top: 100%;
       left: 50%;
      margin-left: -60px;
       border: 60px solid transparent;
       border-top: 35px solid #3267B4;
}
.balloon1 p {
       margin: 0;
       padding: 0;
}
/* 吹き出し */
.balloon2 {
        position: relative;
      z-index:-100;
        margin: 1.5em 0;
       padding: 140px 5px 60px 0;
       min-width: 120px;
        max-width: 100%;
       font-size: 16px;
       background: #EBF1F5;
}
.balloon2:before{
       content: "";
       position: absolute;
       top: 100%;
       left: 50%;
}
.balloon2 p {
       margin: 0;
       padding: 0;
 }
.circle{
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: white;
    text-align:center;
}
.circle span {
    position: absolute;
    display: inline-block;
    left: 35%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width :80px;
    text-align:center;
    color:black;
}
.box2 {
    padding: 2.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: black;/*文字色*/
    background: #FFF;
    border: solid 3px orange;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.box2 p {
    margin: 0; 
    padding: 0;
}

.balloon3 {
    position: relative;
  display:inline-block;
    margin: 1.5em 0 3.5em 0;
   padding: 5px 25px;
   min-width: 120px;
    max-width: 100%;
    color: white;
   font-size: 16px;
   background: blue;
}

.balloon3:before{
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
    margin-left: -15px;
   border: 15px solid transparent;
   border-top: 15px solid blue;
}

.balloon3 p {
   margin: 0;
   padding: 0;
}

.contents {
    position: relative;
    overflow: hidden;
    margin: 10% 0;
    padding: 80px 0;
  }
  
.contents:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 80%;
    margin: 3% -10% 0;
    background: #011931;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    z-index: -1;
}
.contents_inner {
    box-sizing: boder-box;
    width: 100%;
    max-width: 640px;
    height: 100%;
    margin: 0 auto;
    padding: 100px 10px 120px;
    color: #fff;
    text-align: center;
}
.shadow {
	margin-top: 5px; /* 画像の上の余白*/
	display: inline-block; 
	box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8)!important; /*横方向　下方向　ぼかし　広がり　色 */
}

/*ボタン系*/
.btn{
    border: 1px solid #F8E31C!important;
}
.btn a{
    color:black!important;
}
#btn-point{
    background:#3267B4;padding: 5px 20px 5px 20px;/* CSS3草案 */-webkit-border-radius: 20px;	/* Safari,Google Chrome用 */-moz-border-radius: 20px;
}
#btn-20{
   margin-bottom:20px;background:#E88C57;padding: 12px 50px 12px 50px;border-radius: 25px;		/* CSS3草案 */-webkit-border-radius: 25px;	/* Safari,Google Chrome用 */-moz-border-radius: 25px;
}
#btn-header{
    background:#E88C57;padding: 12px 50px 12px 50px!important;border-radius: 25px!important;		/* CSS3草案 */-webkit-border-radius: 25px!important;	/* Safari,Google Chrome用 */-moz-border-radius: 25px!important;
}
.btn_tron{
    background:#E88C57;padding: 12px 100px 12px 100px!important; border-radius: 35px!important;		/* CSS3草案 */-webkit-border-radius: 35px!important;	/* Safari,Google Chrome用 */-moz-border-radius: 35px!important;
}
.btn_tron a{
    font-size:30px;
}
#btn_footer{
    background:#E88C57;padding: 12px 100px 12px 100px;border-radius: 25px;		/* CSS3草案 */-webkit-border-radius: 40px;	/* Safari,Google Chrome用 */-moz-border-radius: 4px;
}
#btn_footer a{
    font-size:40px;
}
#white_contain{
    /* CSS3草案 */-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */-moz-border-radius: 10px;background:white;padding:30px 20px 30px 20px!important; 
}
#white_contain2{
    /* CSS3草案 */-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */-moz-border-radius: 10px;background:white;padding:20px 20px 20px 20px!important; 
}
.radiousbox1{
    margin:0 90px 0 90px;padding:50px 50px 50px 50px;border:2px solid white;border-radius: 50px;		/* CSS3草案 */-webkit-border-radius: 50px;	/* Safari,Google Chrome用 */-moz-border-radius: 10px;
}
.radiousbox2{
padding:50px 15px 50px 15px!important;/* CSS3草案 */-webkit-border-radius: 30px;	/* Safari,Google Chrome用 */-moz-border-radius: 30px;border:5px solid #F8E31C;
}

/* 画面外にいる状態 */
.fadein {
    opacity : 0.1;
    transform : translate(0, 50px);
    transition : all 500ms;
    }
 
/* 画面内に入った状態 */
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
    }

.shadow {
	margin-top: 5px; /* 画像の上の余白*/
	display: inline-block; 
	box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8)!important; /*横方向　下方向　ぼかし　広がり　色 */
}
.card{
    /* CSS3草案 */-webkit-border-radius: 30px!important;	/* Safari,Google Chrome用 */-moz-border-radius: 30px!important;
}

/*ボタンのふわっと動作*/
.fly {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    /*margin: 10px 0 0 0;*/
}
.fly:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.privacy {
  border:1px solid;
  padding:20px 0 20px 0;
  width: 350px;
  height: 60px;
  overflow: scroll;
  background:#37383D;
  color:white;
}
.privacy_link a{
    color:gray;
}
.privacy_link a:hover{
    text-decoration:none;
    color:black;
}






/*汎用CSS*/
.mb-10{
    margin-bottom:10px!important;
}
.mt-20{
    margin-top:20px!important;
}
.mb-20{
    margin-bottom:20px!important;
}
.mb--24{
    margin-bottom:-24px!important;
}
.mt-30{
    margin-top:30px!important;
}
.mb-30{
    margin-bottom:30px!important;
}
.mt-40{
    margin-top:40px!important;
}
.mb-40{
    margin-bottom:40px!important;
}
.mt-50{
    margin-top:50px!important;
}
.mb-50{
    margin-bottom:50px!important;
}
.mt-60{
    margin-top:60px!important;
}
.mb-60{
    margin-bottom:60px!important;
}
.mb-70{
    margin-bottom:70px!important;
}
.mt-80{
    margin-top:80px!important;
}
.mb-80{
    margin-bottom:80px!important;
}
.mb-90{
    margin-bottom:90px!important;
}
.mb-100{
    margin-bottom:100px!important;
}
.mb--100{
    margin-bottom:-100px!important;
}
.mb-110{
    margin-bottom:110px!important;
}
.mb-120{
    margin-bottom:120px!important;
}
.mb--120{
    margin-bottom:-120px!important;
}
.mb-130{
    margin-bottom:130px!important;
}
.mb-140{
    margin-bottom:140px!important;
}
.mt-150{
    margin-top:150px!important;
}
.mb-150{
    margin-bottom:150px!important;
}
.mt-200{
    margin-top:200px!important;
}
.mb-200{
    margin-bottom:200px!important;
}
.mt--470{
    margin-top:-470px;
}

.pr-10{
    padding-right:20px!important;
}
.pl-10{
    padding-left:20px!important;
}
.pt-20{
    padding-top:20px!important;
}
.pb-20{
    padding-bottom:20px!important;
}
.pb-30{
    padding-bottom:30px!important;
}
.pt-50{
    padding-top:50px!important;
}
.pb-50{
    padding-bottom:50px!important;
}
.pr-50{
    padding-right:50px!important;
}
.pl-50{
    padding-left:50px!important;
}
.pt-60{
    padding-top:60px!important;
}
.pt-70{
    padding-top:70px!important;
}
.pb-70{
    padding-bottom:70px!important;
}
.pt-100{
    padding-top:100px!important;
}
.pb-100{
    padding-bottom:100px!important;
}
.pt-150{
    padding-top:150px!important;
}
.pt-250{
    padding-top:250px!important;
}
.f-12{
    font-size:12px!important;
}
.f-14{
    font-size:14px!important;
}
.f-20{
    font-size:20px!important;
}
.f-26{
    font-size:26px!important;
}
.f-25{
    font-size:25px!important;
}
.f-30{
    font-size:30px!important;
}
.f-35{
    font-size:35px!important;
}
.f-38{
    font-size:38px!important;
}
.f-40{
    font-size:40px!important;
}
.f-46{
    font-size:46px!important;
}
.f-50{
    font-size:50px!important;
}
.f-b{
     font-weight:bold!important;
}
.c-w{
    color:white!important;
}
.bc-w{
    background-color:white!important;
}

.c-b{
    color:#1060D6!important;
}
.bc-b{
    background-color:#1060D6!important;
}
.c-o{
    color:#E88C57!important;
}
.bc-o{
    background-color:#E88C57!important;
}
.c-y{
    color:#F8E71C!important;
}
.bc-y{
    background-color:#F8E71C!important;
}
.c-rb{
    color:#EBF1F5!important;
}
.bc-rb{
    background-color:#EBF1F5!important;
}
.c-db{
    color:#18355F!important;
}
.bc-db{
    background-color:#18355F!important;
}

.pr-10{
    padding-right:20px!important;
}
.pl-10{
    padding-left:20px!important;
}
.pt-20{
    padding-top:20px!important;
}
.pb-20{
    padding-bottom:20px!important;
}
.pl-30{
    padding-left:30px!important;
}
.pr-30{
    padding-right:30px!important;
}
.pt-50{
    padding-top:50px!important;
}
.pb-50{
    padding-bottom:50px!important;
}
.pr-50{
    padding-right:50px!important;
}
.pl-50{
    padding-left:50px!important;
}
.pt-100{
    padding-top:100px!important;
}
.pb-100{
    padding-bottom:100px!important;
}
.pt-150{
    padding-top:150px!important;
}
.pb-150{
    padding-bottom:150px!important;
}
.line-h-40{
    line-height:40px!important;
}
.line-h-60{
    line-height:60px!important;
}
.h-220{
    height:220px!important;
}
.h-250{
    height:250px!important;
}






.form-style-6{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
.form-style-6 h1{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: #2EBC99;
}